.matches {
  @media (max-width: 768px) {
    display: flex;
  }
  @media (min-width:1920px) {
    justify-content: flex-start;
  }
  display: flex; //flex;
  justify-content: center;
  &--container {
    display: none;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 40px;
      margin-bottom: 55px;
    }
    
    justify-content: center;
    gap: 20px;

    &__visible {
      display: flex;
    }
  }

  &--mobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}