@import './blocks/page.scss';
@import './blocks/header.scss';

#header__button {
  &__selected {
    background-color: black;
    color: #fff;
  }
}

.button {
  width: 246px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
  cursor: pointer;
  border: 1px solid #F3A917;
  background-color: #f3a917;

  &_txt {
    height: 20px;
    margin: auto 0;
    // font-weight: 600;
    // font-size: 16px;
    // line-height: 20px;
  }
}

.first {
  background-image: url(../images/headerfirst.png);
}

.second {
  background-image: url(../images/headersecond.png);
}

.third {
  background-image: url(../images/headerthird.png);
}

.slider {
  display: flex;
  justify-content: center;
}

.battles {
  display: none;
}

@import './blocks/matches.scss';

@import './blocks/hoverbutton.scss';

@import './blocks/match.scss';

@import './blocks/team.scss';

@import './blocks/mainblocks.scss';

.page__main {
  background-color: #000;
  color: #fff;
  padding-top: 145px;
  &__shedule {
    display: block;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 40px;
  }

  &__button {
    color: #fff;
    width: 152px;
    height: 60px;
    text-transform: none;
    margin: 0;
    border: 1px solid #f3a917;
    background-color: #000;

    &-selected {
      color: #fff;
      background-color: #f3a917;
    }
  }
}

.battle__image {
  width: 16px;
  height: 35px;
  margin-left: 18px;
  margin-bottom: 20px;
}

.match__number {
  margin-top: -30px;
}

@import './blocks/maintoggler.scss';

.arrow {
  width: 43.5px;

  &-right {
    transform: rotate(180deg);
  }

  &__button {
    margin-top: 4px;
  }
}

.circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 1px solid #f3a917;
  background-color: black;
  position: relative;

  &__reg {
    width: 24px;
    height: 24px;
    background-color: #fff;

    &__img {
      margin-top: 6px;
    }
  }
}

.selected, .selected__main__toggler {
  background-color: #f3a917;
}

.shedule_and_result {
  margin: 0 10.4vw;
  margin-bottom: 147px;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

@import './blocks/stages.scss';

.line {
  align-items: center;
  margin: auto 0;
}

.defense {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/defense.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 73px;
}

.correct {
  width: 41px;
  height: 35.5px;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/calendar.png);
  height: 80px;
  width: 77px;
}

.star {
  padding-top: 20px;
  width: 34.5px;
  height: 33px;
}

@import './blocks/footer.scss';

.countdown {
  display: flex;
  flex-direction: row;
}

table {
  border: 1px solid #f3a917;
  border-collapse: collapse;
  width: 100%;
  @media (min-width: 1920px) {
    width: 652px;
  }
  background-color: #292A2F;
}

td {
  // width: 72px;
  height: 55px;
  border: 1px solid #f3a917;
  text-align: center;
}

th {
  height: 55px;
  background-color: #f3a917;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  /* identical to box height, or 175% */

  color: #000000;
}

tr {
  &:hover .sec { background-color: #fff;}

  &:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
}
.sec {
  text-align: left;
  background-color: #292A2F;
  margin-left: 20px;
  
  &::before {
    content: "";
    background-image: url(../images/ukraine.svg);
    background-size: cover;
    height: 9px;
    width: 24px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    border-top: 9px solid blue;
  }
}

.table__head {
  text-align: left;
  margin-left: 10px;
}
